
<ion-router-outlet></ion-router-outlet>
<ion-tabs>
  
<ion-tab-bar >
  <ion-tab-button tab="dashboard">
    <ion-icon name="grid-outline"></ion-icon>
    <ion-label>Tableau</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="articles" selected>
    <ion-icon name="document-text"></ion-icon>
    <ion-label>Articles</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="veille">
    <ion-icon name="globe-outline"></ion-icon>
    <ion-label>Veille</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="capture">
    <ion-icon name="camera-outline"></ion-icon>
    <ion-label>Capture</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="profil">
    <ion-icon name="person-circle-outline"></ion-icon>
    <ion-label>Profil</ion-label>
  </ion-tab-button>
</ion-tab-bar>
</ion-tabs>
