<ion-header>
  <ion-toolbar class="nr-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title >
      {{ isEditMode ? 'Modifier l’article' : 'Nouvel article' }}
    </ion-title>

    <!-- <ion-buttons slot="end">
      <ion-button class="save-btn" (click)="saveDraft()">
        <ion-icon name="save-outline" slot="start"></ion-icon>
      </ion-button>
      <ion-button class="send-btn" (click)="publishArticle()">
        <ion-icon name="send-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="content-page">
  
  <div class="section-block">
    <div class="title-row">
      <ion-label class="section-label">Titre de l'article</ion-label>
      
    </div>
    <div class="title-input-row">
      <ion-textarea
        class="title-input"
        placeholder="Entrez le titre principal..."
        rows="2"
        auto-grow="true"
        [(ngModel)]="article.title"
      >
      </ion-textarea>
    </div>
  </div>
  

  <!-- <div class="section-block">
    <ion-label class="section-label">Informations</ion-label>
    <ion-list lines="none" class="meta-list">
      <ion-item>
        <ion-icon
          name="calendar-outline"
          slot="start"
          color="medium"
        ></ion-icon>
        <ion-label>22 Avril 2026</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon
          name="location-outline"
          slot="start"
          color="medium"
        ></ion-icon>
        <ion-label>Casablanca, Maroc</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="eye-outline" slot="start" color="medium"></ion-icon>
        <ion-label>Visibilité : Public</ion-label>
      </ion-item>
    </ion-list>
  </div> -->
  <!-- section d'ajoute des tags a l'article -->
  <div class="section-tags"></div>

  <div class="section-block">
    <div class="title-row">
      <ion-label class="section-label">Corps de l'article</ion-label>
      
    </div>
    <div class="format-bar">
      <!-- <ion-button fill="clear" size="small" color="dark">
        <strong>G</strong>
      </ion-button>
      <ion-button fill="clear" size="small" color="dark">
        <em>I</em>
      </ion-button>
      <ion-button fill="clear" size="small" color="dark">
        <u>S</u>
      </ion-button>
      <div class="format-sep"></div>
      <ion-button fill="clear" size="small" color="dark">H1</ion-button>
      <ion-button fill="clear" size="small" color="dark">H2</ion-button>
      <div class="format-sep"></div>
      <ion-button fill="clear" size="small" color="dark">
        <ion-icon name="list-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small" color="dark">
        <ion-icon name="link-outline"></ion-icon>
      </ion-button> -->
    </div>

    <ion-textarea
      class="body-input"
      placeholder="Rédigez le contenu de votre article ici..."
      rows="8"
      auto-grow="true"
      [(ngModel)]="article.description"
    >
    </ion-textarea>
  </div>
  <div class="section-block">
  <ion-label class="section-label">Catégorie</ion-label>

 <ion-item>

  <ion-select
    interface="alert"
    placeholder="Choisir une catégorie"
    [(ngModel)]="selectedCategory"
    [value]="selectedCategory"
  >
    <ion-select-option
      *ngFor="let cat of categories"
      [value]="cat"
    >
      {{ cat }}
    </ion-select-option>

  </ion-select>
</ion-item>
  </div>

  <div class="article-tags">
    <ion-label class="section-label">Tags</ion-label>
    <div class="tags-list">
    <ion-chip *ngFor="let tag of article.tags" class="chip-tag">
      {{ tag }}
    </ion-chip>

    <ion-chip *ngIf="isAddingTag" class="chip-tag chip-edit">
      <ion-input
        placeholder="Tag"
        [(ngModel)]="newTag"
        autofocus
        (ionBlur)="addTag()"
        (keyup.enter)="addTag()"
      ></ion-input>
    </ion-chip>

    <ion-chip
      *ngIf="article.status === 'Brouillon' && !isAddingTag"
      class="chip-tag add-tag"
      (click)="startAddingTag()"
    >
      <ion-icon name="add-outline"></ion-icon>
    </ion-chip>
    </div>
  </div>

  <div class="section-block">
    <ion-label class="section-label">Médias associés</ion-label>
    <div class="capture-grid">

      <button class="capture-btn photo" >
        <ion-icon name="camera-outline"></ion-icon>
        <span>Photo</span>
      </button>

      <button class="capture-btn video" >
        <ion-icon name="videocam-outline"></ion-icon>
        <span>Vidéo</span>
      </button>

      <button class="capture-btn audio" >
        <ion-icon name="mic-outline"></ion-icon>
        <span>Audio</span>
      </button>

      <!-- <button class="capture-btn file" (click)="pickFile()">
        <ion-icon name="document-attach-outline"></ion-icon>
        <span>Fichier</span>
      </button> -->

    </div>
  </div>

  <!-- Historique des modifications -->
  <!-- <div class="section-block">
    <ion-label class="section-label">Historique des modifications</ion-label>
    <ion-list lines="full" class="history-list">

      <ion-item>
        <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
        <ion-label>
          <p class="history-action">Article enregistré</p>
          <p class="history-meta">par Yosra — 14:32</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="pencil-outline" slot="start" color="warning"></ion-icon>
        <ion-label>
          <p class="history-action">Titre modifié</p>
          <p class="history-meta">par Yosra — 14:18</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="sparkles-outline" slot="start" color="tertiary"></ion-icon>
        <ion-label>
          <p class="history-action">Suggestion IA acceptée</p>
          <p class="history-meta">par IA — 14:10</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="document-outline" slot="start" color="medium"></ion-icon>
        <ion-label>
          <p class="history-action">Brouillon créé</p>
          <p class="history-meta">par Yosra — 13:55</p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div> -->
  

  <div class="ajoute-btn">
    <ion-button class="save-btn" expand="block" (click)="saveDraft()" >
      Enregistrer
    </ion-button>
  </div>
  <!-- Espace en bas pour ne pas cacher le contenu -->
  <div style="height: 40px"></div>
</ion-content>

<ion-fab  vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="fab-button" (click)="openAiAssistant()">
    <ion-icon  name="chatbubble-ellipses-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>