<ion-header>
  <ion-toolbar class="nr-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ isEditMode ? 'Modifier l’article' : 'Nouvel article' }}
    </ion-title>

    <!-- <ion-buttons slot="end">
      <ion-button class="save-btn" (click)="saveDraft()">
        <ion-icon name="save-outline" slot="start"></ion-icon>
      </ion-button>
      <ion-button class="send-btn" (click)="publishArticle()">
        <ion-icon name="send-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content lines="none"  class="content-page">
  <div class="section-block">
    <div class="title-row">
      <ion-label class="section-label">Titre de l'article</ion-label>
    </div>
    <div lines="none"  class="title-input-row">
      <ion-textarea
        class="title-input"
        placeholder="Entrez le titre principal..."
        rows="2"
        auto-grow="true"
        [(ngModel)]="article.titre"
      >
      </ion-textarea>
    </div>
  </div>

 
  <div class="section-tags"></div>

  <div class="section-block">
    <div class="title-row">
      <ion-label class="section-label">Corps de l'article</ion-label>
    </div>
   
    <ion-textarea
      class="body-input"
      placeholder="Rédigez le contenu de votre article ici..."
      rows="8"
      auto-grow="true"
      [(ngModel)]="article.contenu"
    >
    </ion-textarea>
  </div>
  <div class="section-block">
    <ion-label class="section-label">Catégorie</ion-label>

    <ion-item class="cat-input" lines="none" >
      <ion-select
        interface="alert"
        placeholder="Choisir une catégorie"
        [(ngModel)]="selectedCategory"
        [value]="selectedCategory"
      >
        <ion-select-option *ngFor="let cat of categories" [value]="cat">
          {{ cat }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="article-tags">
    <ion-label class="section-label">Tags</ion-label>
    <div class="tags-list">
      <ion-chip *ngFor="let tag of article.tags" class="chip-tag">
        {{ tag }}
      </ion-chip>

      <ion-chip *ngIf="isAddingTag" class="chip-tag chip-edit">
        <ion-input
        
          placeholder="Tag"
          [(ngModel)]="newTag"
          autofocus
          (ionBlur)="addTag()"
          (keyup.enter)="addTag()"
        ></ion-input>
      </ion-chip>

      <ion-chip
        *ngIf="article.statut === 'Brouillon' && !isAddingTag"
        class="chip-tag add-tag"
        (click)="startAddingTag()"
      >
        <ion-icon name="add-outline"></ion-icon>
      </ion-chip>
    </div>
  </div>

  <div class="section-block">
    <ion-label class="section-label">Médias associés</ion-label>
    <div class="capture-grid">
      <button class="capture-btn photo">
        <ion-icon name="camera-outline"></ion-icon>
        <span>Photo</span>
      </button>

      <button class="capture-btn video">
        <ion-icon name="videocam-outline"> </ion-icon>

        <span> Vidéo </span>
      </button>

      <button class="capture-btn audio">
        <ion-icon name="mic-outline"> </ion-icon>

        <span> Audio </span>
      </button>

     
    </div>
  </div>

  
  <div class="ajoute-btn">
  <ion-button
  class="save-btn"
  expand="block"
  (click)="submitArticle()"
>
  {{ buttonLabel }}
</ion-button>
</div>
  <div style="height: 80px"></div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="fab-button" (click)="openAiAssistant()">
    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
