<ion-header class="header-form" [translucent]="true">
  <ion-toolbar class="toolbar-form">
    <ion-buttons slot="start">
      <ion-back-button text="..." icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title class="title-form">Rédaction</ion-title>
  </ion-toolbar>

  <div class="buttons">
    <ion-button class="btn-brouillon">Brouillon</ion-button>
    <ion-button class="btn-publier">Publier</ion-button>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- STATUS BAR -->
  <div class="status-bar online">
    <ion-icon name="ellipse" class="ellipse1"></ion-icon>
    <span>En ligne - synchronisation active</span>
    <span class="status-time">Sync : 14:35</span>
  </div>

  <div class="section-block">
    <ion-label class="section-label">Capturer un contenu</ion-label>

    <div class="capture-grid">
      <ion-button class="capture-btn photo" fill="outline" >
        <ion-icon name="camera-outline"></ion-icon>
        Photo
      </ion-button>

      <ion-button class="capture-btn video" fill="outline" >
        <ion-icon name="videocam-outline"></ion-icon>
        Vidéo
      </ion-button>

      <ion-button class="capture-btn audio" fill="outline">
        <ion-icon name="mic-outline"></ion-icon>
        Audio
      </ion-button>
    </div>
  </div>

  <div class="section-block">
    <ion-label class="section-label">Métadonnées</ion-label>

    <ion-list lines="none" class="meta-form">

      <ion-item>
        <ion-label position="stacked">Titre du média</ion-label>
        <ion-input
          placeholder="Ex: Manifestation contre la réforme des retraites"
          value="Conférence de presse - Ministre des finances">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea
          placeholder="Ajouter une description détaillée du contenu capturé"
          value="Le ministre des finances a tenu une conférence de presse aujourd'hui pour présenter les nouvelles mesures économiques.">
        </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Localisation</ion-label>
        <ion-input placeholder="Ex: Paris, France" value="Paris, France"></ion-input>
        <ion-button color="primary" fill="clear" slot="end">
          <ion-icon name="locate-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Article associé</ion-label>
        <ion-select placeholder="Sélectionner un article ..." value="article1">
          <ion-select-option value="article1">
            Article 1 - Réforme des retraites
          </ion-select-option>
          <ion-select-option value="article2">
            Article 2 - Manifestations à Paris
          </ion-select-option>
          <ion-select-option value="article3">
            Article 3 - Nouvelles mesures économiques
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Tags</ion-label>
        <ion-input
          placeholder="Ex: politique, économie, manifestation"
          value="politique, économie, manifestation">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contenu sensible</ion-label>
        <ion-toggle color="danger"></ion-toggle>
      </ion-item>

    </ion-list>
  </div>

  <div class="section-block">
    <ion-label class="section-label">
      <ion-icon name="sparkles-outline" color="tertiary"></ion-icon>
      Analyse IA du média
    </ion-label>

    <div class="ai-result-box">

      <div class="ai-result-row">
        <ion-icon name="pricetag-outline"></ion-icon>
        <div>
          <p class="ai-result-label">Tags détectés automatiquement</p>
          <div class="ai-tags">
            <ion-chip color="tertiary">Politique</ion-chip>
            <ion-chip color="tertiary">Économie</ion-chip>
            <ion-chip color="tertiary">Manifestation</ion-chip>
            <ion-chip color="tertiary">Officiel</ion-chip>
          </div>
        </div>
      </div>

      <div class="ai-result-row">
        <ion-icon name="location-outline" color="primary"></ion-icon>
        <div>
          <p class="ai-result-label">Localisation détectée</p>
          <p>Paris, France</p>
        </div>
      </div>

      <div class="ai-result-row">
        <ion-icon name="people-outline" color="success"></ion-icon>
        <div>
          <p class="ai-result-label">Date et heure detectée</p>
          <p>12 octobre 2024, 14:00</p>
        </div>
      </div>

      <div class="ai-result-row">
        <ion-icon name="document-text-outline" color="warning"></ion-icon>
        <div>
          <p class="ai-result-label">Résumé généré automatiquement</p>
          <p>Le ministre des finances a annoncé de nouvelles mesures économiques lors d'une conférence de presse à Paris...</p>
        </div>
      </div>
      <ion-button expand="block" fill="outline" class="regenerate-btn" color="tertiary">
        <ion-icon name="refresh-outline"></ion-icon>
        Régénérer l'analyse IA
      </ion-button>
    </div>
  </div>

  <div class="section-block">
    <ion-label class="section-label">
      File d'attente - synchronisation
    </ion-label>
    <ion-list class="sync-list" lines="full">
      <ion-item>
        <ion-icon name="cloud-upload-outline" color="primary" slot="start"></ion-icon>
        <ion-label>
          <p class="sync-item-title">Upload du média en cours...</p>
          <p class="sync-item-time">14:30</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="cloud-upload-outline" color="primary" slot="start"></ion-icon>
        <ion-label>
          <p class="sync-item-title">Analyse IA en cours...</p>
          <p class="sync-item-time">14:32</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="checkmark-circle-outline" color="success" slot="start"></ion-icon>
        <ion-label>
          <p class="sync-item-title">Synchronisation terminée</p>
          <p class="sync-item-time">14:35</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="block" fill="outline" class="clear-queue-btn" color="danger">
      <ion-icon name="trash-outline"></ion-icon>
      Vider la file d'attente
    </ion-button>

    </div>

    <!-- button envoyée -->
     <div class="submit-section">
      <ion-button expand="block" class="submit-btn" color="success">
        <ion-icon name="checkmark-done-outline"></ion-icon>
        Envoyer à la rédaction
      </ion-button>
      <ion-button expand="block" fill="outline" class="save-btn" color="tertiary">
        <ion-icon name="save-outline"></ion-icon>
        Sauvegarder le brouillon
      </ion-button>
      <ion-button expand="block" fill="outline" class="discard-btn" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
        Supprimer le média
      </ion-button>
    </div>
    <div class="spacer"></div>

</ion-content>
