<ion-app>
  <ion-menu contentId="main-content" menuId="main-menu" side="start">
    <ion-header class="Header">
      
        <div class="nr-logo-wrap">
          <div class="nr-logo">N</div>
          <div class="title">
            <span class="nr-app-title">NewsRoom</span>
            <p class="soustitre">v {{appVersion}}</p>
          </div>
        </div>
      
    </ion-header>

   
      <ion-list lines="none">
        <ion-menu-toggle button auto-hide="false" class="menu-item dashboard">
          
          <div class="menu-container">
            <ion-item routerLink="/dashboard" lines="none" class="article-item" detail="false">
              <ion-avatar>
                <ion-icon name="home" class="avatar-icon"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2 class="article-title">dashboard</h2>
              </ion-label>
            </ion-item>
          </div>
        </ion-menu-toggle>
        <ion-menu-toggle
          *ngFor="let module of modules"
          class="menu-item module-{{ module.id }}"
          (click)="navigateTo(module.name.toLowerCase())"
          auto-hide="false"
          button
        >
          <div class="menu-container">
            <ion-item lines="none" class="article-item" detail="false">
              <ion-avatar>
                <ion-icon [name]="module.icon" class="avatar-icon"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2 class="article-title">{{ module.name }}</h2>
              </ion-label>
            </ion-item>
          </div>
        </ion-menu-toggle>

        <!-- <ion-item-divider>
          <ion-label>Outils IA</ion-label>
        </ion-item-divider>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/ia-redaction" detail="false">
            <ion-icon slot="start" name="flash-outline" color="primary"></ion-icon>
            <ion-label>Aide à la rédaction</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/ia-resume" detail="false">
            <ion-icon slot="start" name="sparkles-outline" color="primary"></ion-icon>
            <ion-label>Résumé automatique</ion-label>
          </ion-item>
        </ion-menu-toggle> -->
      </ion-list>

      <div class="menu-footer">
        <!-- <ion-menu-toggle >
          <ion-item routerLink="/parametres" detail="false" lines="none">
            <ion-icon slot="start" name="settings-outline"></ion-icon>
            <ion-label>Paramètres</ion-label>
          </ion-item>
        </ion-menu-toggle> -->
        
        <ion-menu-toggle slot="end">
          <ion-item
            class="btn-logout"
            routerLink="/login"
            detail="false"
            lines="none"
          >
            <ion-icon
              slot="end"
              name="log-out-outline"
              color="danger"
            ></ion-icon>
            <ion-label color="danger">Déconnexion</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>
    
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
