<ion-header class="nr-header" translucent>
  <ion-toolbar class="nr-toolbar">

    <ion-buttons slot="start">
      <ion-menu-button class="menu-header"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Agenda
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content scroll-y="true">

  <div class="page-title" >
     Casablanca
  </div>

<div class="date-filter" *ngIf="isFiltersReady">
  <div class="date-box">
    <ion-item class="date-inline" lines="none">
      <div class="date-content">
        <span class="label-inline">Date début</span>
        <button class="date-btn" (click)="toggleCalendar('debut')">
          {{ dateDebutFilter ? (dateDebutFilter | date:'dd/MM/yyyy') : 'jj/mm/aaaa' }}
        </button>
      </div>
    </ion-item>
  </div>

  <div class="date-box">
    <ion-item class="date-inline" lines="none">
      <div class="date-content">
        <span class="label-inline">Date fin</span>
        <button class="date-btn" (click)="toggleCalendar('fin')">
          {{ dateFinFilter ? (dateFinFilter | date:'dd/MM/yyyy') : 'jj/mm/aaaa' }}
        </button>
      </div>
    </ion-item>
  </div>
</div>

<!-- Calendrier inline en dessous -->
<div class="calendar-inline" *ngIf="activeCalendar">
  <ion-datetime
    *ngIf="activeCalendar === 'debut'"
    presentation="date"
    locale="fr-FR"
    [(ngModel)]="dateDebutFilter"
    (ionChange)="onDateChange()">
  </ion-datetime>

  <ion-datetime
    *ngIf="activeCalendar === 'fin'"
    presentation="date"
    locale="fr-FR"
    [(ngModel)]="dateFinFilter"
    (ionChange)="onDateChange()">
  </ion-datetime>
</div>




  <ion-list lines="none">
    <ion-item-sliding *ngFor="let event of filteredEvents">

      <ion-item
              button
              lines="none"
              class="article-item"
              (click)="openDetail(event)">
       

        <ion-label>

          <div class="article-header">
            <ion-badge [ngClass]="event.importance">
              {{ event.importance }}
            </ion-badge>
          </div>

          <h2 class="article-title">
            {{ event.titre }}
          </h2>
          <p class="article-date">

            {{ event.dateDebut | date:'dd/MM/yyyy' }}
            →
            {{ event.dateFin | date:'dd/MM/yyyy' }}
          </p>

        </ion-label>

      </ion-item>

    </ion-item-sliding>
  </ion-list>
    <div style="height: 80px"></div>

</ion-content>

<ion-fab class="button-flottant-add">
  <ion-fab-button class="button-flottant" routerLink="/agenda/add-event">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>