<ion-header>
  <ion-toolbar class="nr-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/articles"></ion-back-button>
    </ion-buttons>
    <ion-title>Article</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modifierArticle(article.id)">
        <ion-icon slot="icon-only" name="create-outline"> </ion-icon>
      </ion-button>

      <ion-button *ngIf="article.status === 'draft'" color="danger">
        <ion-icon slot="icon-only" name="trash-outline"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-page">

  <div class="section-block">
    <ion-label class="section-label">Titre</ion-label>
    <div class="title-input title">{{ article.title }}</div>
  </div>

  <div class="section-block">
    <ion-label class="section-label">Statut</ion-label>
    <div class="title-input">
      <span class="badge-status" [ngClass]="article.status">
        {{ article.status }}
      </span>
    </div>
  </div>

  <div class="section-block" *ngIf="article.status !== 'draft'">
    <ion-label class="section-label">Date de publication</ion-label>
    <div class="date-card">
      <div class="title-input">
        <span class="badge-status" [ngClass]="article.status">
          {{ article.date | date:'dd/MM/yyyy' }}
        </span>
      </div>
    </div>
  </div>

  <!-- Catégorie -->
  <div class="section-block">
    <ion-label class="section-label">Catégorie</ion-label>
    <div class="title-input">
      <span>{{ article.categorie }}</span>
    </div>
  </div>

  <!-- Description -->
  <div class="section-block">
    <ion-label class="section-label">Description</ion-label>
    <div class="title-input resume-text">{{ article.description }}</div>
  </div>

  <!-- Tags -->
  <div class="section-block">
    <ion-label class="section-label">Tags</ion-label>
    <div class="tags-list">
      <ion-chip *ngFor="let tag of article.tags" class="chip-tag"
        >{{ tag }}</ion-chip
      >
      <ion-chip *ngIf="isAddingTag" class="chip-tag chip-edit">
        <ion-input
          placeholder="Tag"
          [(ngModel)]="newTag"
          autofocus
          (ionBlur)="addTag()"
          (keyup.enter)="addTag()"
        >
        </ion-input>
      </ion-chip>
      <ion-chip
        *ngIf="article.status === 'draft' && !isAddingTag"
        class="chip-tag add-tag"
        (click)="startAddingTag()"
      >
        <ion-icon name="add-outline"></ion-icon>
      </ion-chip>
    </div>
  </div>

  <!-- Médias -->
  <div class="section-block">
    <ion-label class="section-label">Médias associés</ion-label>
    <div class="capture-grid">
      <button class="capture-btn photo">
        <ion-icon name="camera-outline"></ion-icon>
        <span>Photo {{ countMediaByType(article).images }}</span>
      </button>
      <button class="capture-btn video">
        <ion-icon name="videocam-outline"></ion-icon>
        <span>Vidéo {{ countMediaByType(article).videos }}</span>
      </button>
      <button class="capture-btn audio">
        <ion-icon name="mic-outline"></ion-icon>
        <span>Audio {{ countMediaByType(article).audios }}</span>
      </button>
    </div>
  </div>

  <div style="height: 80px"></div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="fab-button" (click)="openAiAssistant()">
    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
